.mandralogo, .mandraback, .mandracopyright, .navig, .searchform, .linkstootherresultpages {
  display: none;
}

.mandracontent, .welcomemess, .noticemess, .result {
  line-height: 12pt;
  font-size: 11pt;
  text-align: justify;
}

.mandracontent {
  padding: 0;  
  background-color: white;
  color: black;
}

pre {
  line-height: 12pt;
  font-size: 11pt;
  border: 0;
  padding:0;
  margin: 0;
}

h1 {
  font-size:19pt;
  line-height: 22pt;
  text-align:center;
  margin-bottom:1.5cm;
}

h2 {
  font-size:15pt;
  line-height: 17pt;  
  margin-top:0.8cm;
}

h3 {
  font-size:14pt;
  line-height: 16pt;
  margin-top:0.5cm;  
}

h4 {
  font-size:13pt;
  line-height: 15pt;
  font-weight:bold;  
  margin-top:0.3cm;  
}

h5 {
  font-size:12pt;
  line-height:14pt;
  font-weight:bold;
}

a {
  text-decoration: none;
}

p {
  text-indent: 0.5cm;
}