/*  CSS des divs issus du site mandragor */
 
.mandralogo {
  background-color: #000000;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 0 0 1.5em 0;  
  border:0;
  background-image: url(/pictures/mandradocs.gif);
  background-repeat: no-repeat;  
}

.mandralogo img {
  float: left;
}

.mandralogo .searchform {
  margin: 1em 1em 0 0;
}

.mandracopyright {
  clear: both;
  background-color: #000000;
  color: #FFFFFF;
  padding:0.3em;
  text-align: center;
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 82%;
  margin:0;
}

.mandraback {
  clear: both;
  border:0;
  float:right;
  position:relative;
}

/* Ex common.css */


BODY, H1.index, .search, .linkstootherresultpages A, .result, .stats, .error, .shortdescription, .docmenutitle, .welcomemess, .pageabout  {
  font-family:verdana, helvetica, arial sans serif;
}

H1.index {
  font-size:1.7em;
  color:#9cf;
  margin-bottom: 2em;
}

INPUT, FORM, BODY {
  margin:0;
  padding:0;
}

.navig {
  font-size:0.85em;
  border-bottom:3px solid #000;
  padding: 0.3em;
  background-color: #333;
  color: #fff;
}

.navig A {
  text-decoration: none;
}

.navig A:hover {
  text-decoration: underline;;
}

.flags {
  float: right;
  margin-right: 0.3em;
  vertical-align:middle;
}

.searchform {
  float:right;
  margin: 0.5em 1em 2em 1em;
  padding: 0.3em 1em 0.3em 1em;
  background-color:#555;
  color: #fff;
  border: 1px solid black;
}

.advanced_search, .limitsearch  {
  font-size:80%;
  margin:0;
  padding;0;  
}

.linkstootherresultpages {
  background-color;#555;
  border: 1px solid #fff;
  text-align:center;
  padding:0.2em 0 0.2em 0;
  margin: 3em 0 3em 0;
}

.linkstootherresultpages A {
  font-size:0.9em;
  color: #fff;
  text-decoration:none;
  font-weight:bold;
}

.linkstootherresultpages A:hover {
  color: red;
}

.linkstootherresultpages A:visited {
  color: #888888;
}

.linkstootherresultpages A.selected, .linkstootherresultpages A.selected:visited
{
  color: red;
}



.result {
  font-size:0.9em;
  margin:2em 2em 2em 2em;
  text-align:justify;
}

.filedesc {
  font-size:0.75em;
}

.result A{
  color:#336699;
  font-weight:bold;
}

.shortdesc {
  margin: 0.2em 0 0.3em 0;
}

.stats {
  font-size:0.9em;
}

.stats A {
  font-size:0.8em;
  color:#fff;
  text-decoration:none;
  color:#9cf;
  font-weight:bold;
}

.error {
  margin: 2em 0 0 0;
  color:#EC0000;
  font-size:0.80em;
}

.docmenu {
  margin : 5em 0 5em 3em;
}

.docmenutitle {
  font-size:1.1em;
  font-weight:bold;
}

.docmenutitlebox {
  margin-bottom:0.3em;
}

LI {
  margin:0;
  padding:0;
}

UL {
  margin: 0 0 0 17px;
  padding:0;
}

.mandracontent {
  padding: 2em 8% 0.4em 8%;
  font-size:0.9em;
  background-color: #333;
  color: #fff;
}

.directorylist {
  margin-left:25px;
  border-collapse:collapse;  
}


.directorylist td, .directorylist tr {
  padding:0;
  margin:0;
  font-family: Courrier, monospace;    
  font-size:1em;
  vertical-align:top;  
}

.directorylist td.desc {
  padding-left: 2em;
  color: #fff;
}

.directorylist a {
  margin-left:5px;
  text-decoration: none;
  font-family: Courrier, monospace;
  font-size:1em;  
}

.directorylist a:hover {
  text-decoration:underline;
}

.directorylist td.repertoire a{
  color: #ffb94f;
}

.errormess
{
  text-align:center;
  color:#AA0000;
  font-weight:bold;
  margin: 1em 0 2em 0;
}

.welcomemess, .noticemess
{
  font-size:0.9em;
  text-align:justify;
}

.welcomemess 
{
  margin-top:3em;
  margin-bottom:2em; 
}

.noticemess 
{
  margin-top:4em;
  margin-bottom:1em; 
}

.pageabout {
  font-size:0.8em;
  text-align:center;
  margin-top:5em;
}

.preferences,.adv_search{
  width:80%;
  background-color:#666;
  color: #fff;
  border: 1px dashed #000000;
  padding: 0 0 0.5em 0;
  margin: 4em 0 2em 0;
}

.pref_titre {
  background-color:#333;
  color: #fff;
  padding: 0.5em;
  margin-bottom: 1em;
  font-weight:bold;
  border: 1px dashed #999999;  
}

.prefs_form {
  margin: 0 1.5em 0 1.5em;
}

.advsearch_form {
  margin: 1em 1.5em 1em 1.5em; 
}

.searchoption {
  width:40%;
  float: left;
  margin: 0.2em 0 0.2em 0;
}

.advsearch_form input.advsearchinput {
  width:40%;
  float: left;
  margin: 0.2em 0 0.2em 0;  
}

.advsearchsubmit {
  float: right;
}

.advsearch_form br {
   clear:both;
}

.aboutmenu {
  float: left;
  width: 13em;
  border: 1px dashed #000;
  background-color:#444;
  padding: 0.4em;
  margin-left: -2em;
  margin-top:1em;
}

.aboutmenu A {
  color : #fff;
  text-decoration: none;
}

.aboutmenu A:hover {
  color : #fff;
  text-decoration: underline;
}

.aboutmenu hr {
  width: 100%;
  color: #9cf;
}

.aboutbody {
  margin-left:13.5em;
}

.highlight {
  color: green;
  font-weight: bold;
}


/* Ex pageskin.css */

body, a, table, td, th, tr, ul, ol, li, dl, dt, dd {
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

body {
  background-color:#333;
}

H1, H2, H3, H4, H5 {
  color:#9cf;
}

H1 {
  font-size:1.8em;
}

H2 {
  font-size:1.5em;
}

H3 {
  font-size:1.3em;
}

H4 {
  font-size:1.1em;
}

H5 {
  font-size:1em;
}

A {
  color: #9cf;
  text-decoration:underline;
  border:0;
}

A:hover {
  color: #9cf;
  text-decoration:none;
}

PRE {
  font-size: 1em;
  font-family:courier;
  border-left: 2px solid #9cf;
  padding: 0.5em 0 0.5em 0.8em;
  margin: 1.5em 0 1em 1em;
}

IMG {
  border:0;
}


